# Python
__pycache__/
*.py[cod]
venv/

# GCP Credential
*.json
credentials/
service-account-key.json

# IDE
.vscode/
.idea/

.DS_Store
reports/*.json
reports/*.txt
*.log
logs/

# Processed data (if you generate intermediate files)
data/processed/
data/cleaned/